// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


.full-width {width: 100%;}
$font-family-base: 'Lato', sans-serif;

*,*:hover {text-decoration: none !important;}

.fastEase {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


* img {    backface-visibility: hidden !important;}
