@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&subset=latin-ext');
// Bootstrap
@import "./bootstrap/scss/bootstrap";
@import "./bootstrap/scss/bootstrap-grid";
@import "./bootstrap/scss/bootstrap-reboot";

body, html {
  min-height: 100vh;
}
